.page3 {
    display: flex;
    overflow: auto;
    justify-content: center;
}
.page3__weather {
    font-size: 12px;
    color: rgb(92, 75, 167);
    border: 1px solid rgb(92, 75, 167);
    border-radius: 5px;
    margin-left: 5px;
}
.page3__Info {
    font-size: 10px;
    padding: 5px;
}
.page3__img {
    padding: 5px;
}