.card {
    display: flex;
    overflow: auto;
}
.cadr__block {
    color: rgb(92, 75, 167);
    border: 1px solid rgb(92, 75, 167);
    border-radius: 5px;
    margin: 5px;
    min-width: 110px;
}
.card__Info {
    font-size: 7px;
    padding: 5px;
}
.card__img {
    margin: 0 auto;
}
.card__img p {
    padding: 0 5px;
    font-size: 9px;
}