.page14 {
    display: flex;
    overflow: auto;
}
.page14__weather {
    color: rgb(92, 75, 167);
    border: 1px solid rgb(92, 75, 167);
    border-radius: 5px;
    margin: 5px;
}
.page14__Info {
    font-size: 10px;
    padding: 5px;
}
.page14__img {
    margin: 0 auto;
}
.page14__img {
    padding: 5px;
    font-size: 12px;
}